* {
    box-sizing: border-box;
    
}
html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

.left {
    width: 30%;
    margin: auto;
    text-align: center;
}

.right {
    width: 70%;
}

.middle {
    margin-top: 100px;
    margin-bottom: auto;
}

.login-img {
    
    width: 491px;
    height: 700px;
    object-fit: cover;
    
}

.login-img {
    width: 491px;
height: 700px;
}

.login-menu {
    width: 100%;
    margin: auto;
}

.inline {
    display: block;
    margin: auto;
}

.textbox {
    border: 1px solid #cccccc; 
    outline:0; 
    height:22px; 
    width: 30px; 
}

.input {
    margin: auto;
    text-align: center;
}

.signin-input {
    margin: 10px;
    width: 300px;
    height: 30px;
    border: 2px solid #cccccc;
    border-radius: 3px;
}

#login {
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25) ;
}

#login-button {
    margin-top: 50px;
    width: 300px;
    height: 30px;
}

.googlelogo {
    width: 33px;
}

img.googlelogo {
    width: 33px;
}

div.googlelogo {
    display: flex;
    margin: auto;
}

a.google-login {
    display: flex;
    margin: auto;
    width: 300px;
}

.navbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background: #7E4D9F;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar + a {
    font-weight: bold;
    font-size: 50px;
}

.navbar ,.navlink > a {
    padding: 10px;
    color: white;
}

.navlink {
    display: flex;
    margin-left: 10px;
}

.logo {
    width: 40px;
    height: auto;

}


.main > h1 ,h2, h3, h4 {
    text-align: center;
}

.form-card {
    background: #C4C4C4;
    border-radius: 15px;
    width: 80%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

th, td {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th.order {
    width: 50px;
}

th.name {
    width: 300px;
}

th.workplace {
    width: 250px;
}

th.workplaceinfo {
    width: 250px;
}

td, th  {
    height: 30px;
    border: 1px solid black;
}

tr:nth-child(even){background-color: #ffffff;}
tr:nth-child(odd){background-color: rgba(196, 175, 255, 0.4);;}
td:nth-child(4) {
    color: green;
}

select.dropdown {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin: 20px;
    width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}   

option {
    background-color: white;
    color: black;
    border-radius: 0px;
}

.profile-info {
    position: relative;
}

.work-label > p {
    width: 180px;
    background-color: #e7e7e7;
    margin: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #4CAF50;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.card {
    display: flex;
    background-color: #C4C4C4;
    margin: 20px;
    border-radius: 10px;
}

.line {
    margin-top: 50px;
    padding-left: 20px;
}

.profile-pic {
    padding: 10px;
}

.work-type > h1 {
    text-align: center;
}

.workbtn {
    text-align: center;
}

.workbtn > button {
    width: 200px;
    height: 50px;
}

button > a {
    color: black;
    font-weight: bold;
}

.form-card {
    padding: 20px;
}

input#name ,#famliyname{
    width: 250px;
}

input#faculty{
    width: 200px;
}

input#year{
    width: 50px;
}